/download_test_split.sh
/voqa_gqa/
/Miniconda3-latest-Linux-x86_64.sh
/LLeQAMultilingualDatasetAndCode
/data_multilingual/
/experiments/
/CHEATSHEET.md
src/data_prep/NotoSans-Bold.ttf
src/__pycache__
implementation_plan.md
/Detailed_VOQA.pdf
/tools/smoke_test_output
/voqa_gqa.zip
/output_cluster/
/logs_cluster/
/data_multilingual_cluster/
/inference/
/PROJECT_CONTEXT.md
/voqa_test_benchmark/
/textvqa_images/
/output_tuning/
/eval_results/
__pycache__/