absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
alabaster==1.0.0
anyio==4.11.0
async-timeout==5.0.1
attrs==21.2.0
audioread==3.1.0
Automat==20.2.0
babel==2.18.0
bcrypt==3.2.0
bert-score==0.3.13
bitarray==2.6.0
bitsandbytes==0.49.0
blinker==1.7.0
boto3==1.42.77
botocore==1.42.77
causal_conv1d==1.6.0
certifi==2024.2.2
cffi==2.1.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.4.2
cloud-init==25.1.4
cloudpickle==3.1.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.2
coverage==7.15.4
cryptography==3.4.8
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cycler==0.12.1
Cython==3.2.4
datasets==2.18.0
dbus-python==1.2.18
decorator==5.3.1
dill==0.3.8
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.21.2
einops==0.8.1
entmax==1.3
et_xmlfile==2.0.0
evaluate==0.4.6
exceptiongroup==1.3.0
fairseq2==0.2.1
fairseq2n==0.2.1
Farama-Notifications==0.0.4
filelock==3.13.1
fire==0.7.1
flake8==7.3.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2024.2.0
googletrans==4.0.0rc1
grpcio==1.76.0
gymnasium==1.2.3
h11==0.9.0
h2==3.2.0
hf-xet==1.1.10
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
huggingface-hub==0.35.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imagesize==2.0.0
importlib-metadata==4.6.4
incremental==21.3.0
indic-nlp-library-itt==0.1.1
indictranstoolkit @ git+https://github.com/VarunGumma/IndicTransToolkit.git@3efb8418d0721b4ce267c2b3586899d313191357
iniconfig==2.3.0
isaacsim-benchmark==4.5.0.0
isaacsim-core==4.5.0.0
isaacsim-gui==4.5.0.0
isaacsim-kernel==4.5.0.0
isaacsim-rl==4.5.0.0
isaacsim-robot==4.5.0.0
isaacsim-robot-motion==4.5.0.0
isaacsim-sensor==4.5.0.0
isaacsim-storage==4.5.0.0
isaacsim-utils==4.5.0.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.6
jiwer==3.1.0
jmespath==1.1.0
joblib==1.5.2
jsonargparse==3.13.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-loader==0.5
librosa==0.11.0
lightning-utilities==0.15.2
llvmlite==0.49.0
lxml==6.0.2
mamba-ssm==2.3.0
Markdown==3.10
MarkupSafe==2.1.5
matplotlib==3.10.7
mccabe==0.7.0
more-itertools==10.2.0
Morfessor==2.0.6
mpmath==1.3.0
msgpack==1.2.1
multidict==6.7.0
multiprocess==0.70.16
netifaces==0.11.0
networkx==3.1
ninja==1.13.0
nltk==3.9.2
numba==0.67.0
numpy==1.24.4
nvidia-cublas==13.1.0.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu12==2.19.3
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
omniverse-kit==106.5.0.162521
openai-whisper==20250625
opencv-python==4.11.0.86
openpyxl==3.1.5
osqp==0.6.7.post3
overrides==7.7.0
packaging==23.2
pandas==2.3.3
peft==0.18.0
pexpect==4.8.0
pillow==11.3.0
platformdirs==4.2.0
pluggy==1.6.0
pooch==1.9.0
portalocker==3.2.0
propcache==0.4.1
protobuf==4.25.8
psutil==7.2.1
ptyprocess==0.7.0
pyarrow==21.0.0
pyarrow-hotfix==0.7
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycodestyle==2.14.0
pycparser==3.0
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.2.5
pyrsistent==0.18.1
pyserial==3.5
pytest==9.1.1
pytest-cov==7.1.0
pytest-flake8==1.3.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-magic==0.4.24
pytorch-lightning==2.5.5
pytz==2022.1
PyYAML==6.0.3
qdldl==0.1.9.post1
RapidFuzz==3.14.5
regex==2023.12.25
requests==2.32.5
rfc3986==1.5.0
s3transfer==0.16.0
sacrebleu==2.5.1
sacremoses==0.1.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
seamless-communication @ git+https://github.com/facebookresearch/seamless_communication.git@85199c276e761b2ec09ed8c1a293325df5971548
SecretStorage==3.3.1
semantic-version==2.10.0
sentence-transformers==5.7.0
sentencepiece==0.2.1
service-identity==18.1.0
setuptools-rust==1.9.0
shortuuid==1.0.13
simuleval==1.1.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==3.0.1
sonar-space==0.2.1
sos==4.5.6
soundfile==0.14.0
sox==1.5.0
soxr==1.1.0
Sphinx==8.1.3
sphinx-argparse==0.5.2
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
ssh-import-id==5.11
sympy==1.13.1
systemd-python==234
tabulate==0.9.0
tbb==2023.1.0
tcmlib==1.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
TextGrid==1.6.1
threadpoolctl==3.6.0
tiktoken==0.14.0
timm==1.0.28
tokenizers==0.22.2
tomli==2.0.1
torch==2.2.2
torchaudio==2.11.0
torcheval==0.0.7
torchmetrics==0.10.3
torchvision==0.17.2
tornado==6.5.8
tqdm==4.64.1
transformers==4.57.3
triton==2.2.0
Twisted==22.1.0
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
unbabel-comet==2.2.7
urllib3==2.2.1
virtualenv==20.25.1
wadllib==1.3.6
Werkzeug==3.0.1
xxhash==3.6.0
yarl==1.22.0
yt-dlp==2026.8.19
zipp==3.18.1
zope.interface==5.4.0
